.post {
  width: 400px;
  background-color: #ecf0f1;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 1px #bdc3c7;
  border-radius: 7px;
}
.post_header {
  display: flex;
  align-items: center;
  padding: 5px;
}

.post_avatar {
  margin-right: 10px;
}
.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post_text {
  font-weight: normal;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
}

.post_commentBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment_input {
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: #bdc3c7;
  flex: 1 1;
  border-bottom-left-radius: 6px;
  margin: 2px 2px;
}
.comment_button {
  flex: 0;
  padding: 5.3px 0px;
  margin: 2px 2px;
  border-bottom-right-radius: 6px;
}

.post_comments_list {
  padding: 3px 4px;
  display: flex;
  flex-direction: column;
}
.post_comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f6fa;
  margin: 2px 0px;
  padding: 6px 6px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px #95a5a6;
}

@media only screen and (max-width: 430px) {
  .post {
    width: 100%;
  }
}
